<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{! Favicon }}
    <link rel="shortcut icon" href={{asset "img/design/favicon.ico"}}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{asset "img/design/apple-touch-icon-57x57.png"}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{asset "img/design/apple-touch-icon-60x60.png"}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset "img/design/apple-touch-icon-72x72.png"}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset "img/design/apple-touch-icon-76x76.png"}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset "img/design/apple-touch-icon-114x114.png"}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset "img/design/apple-touch-icon-120x120.png"}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset "img/design/apple-touch-icon-144x144.png"}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset "img/design/apple-touch-icon-152x152.png"}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "img/design/apple-touch-icon-180x180.png"}}">
    <link rel="icon" type="image/png" href="{{asset "img/design/favicon-32x32.png"}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{asset "img/design/android-chrome-192x192.png"}}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{asset "img/design/favicon-96x96.png"}}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{asset "img/design/favicon-16x16.png"}}" sizes="16x16">
    <link rel="mask-icon" href="{{asset "img/design/safari-pinned-tab.svg"}}" color="#404041">
    <meta name="apple-mobile-web-app-title" content="{{@blog.title}}">
    <meta name="application-name" content="{{@blog.title}}">
    <meta name="theme-color" content="#404041">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize-opentype.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
    <script type="text/javascript" src="{{asset "js/jquery.min.js"}}"></script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
	<div id="topbar" class="nav">
		<div id="head">
            {{^is "home"}}
		    <a href="/">
               {{#if @blog.logo}}
                <img class="logo" src="{{@blog.logo}}" alt="Logo">
               {{/if}}
                <span class="nav-head">{{@blog.title}}</span>
		    </a>
            {{/is}}
		</div>
		{{ navigation }}  
	</div>

        {{! Everything else gets inserted here }}
        {{{body}}}

	{{foot}}
    </div> <!-- #wrapper -->

    
    {{ghost_foot}}

    <footer id="foot">
        <strong>{{@blog.title}}</strong> · Powered by Ghost · Theme is <a href="https://github.com/Schoewilliam/Stitch-Blue"><strong>Stitch Blue</strong></a>, by William Dorffer.
    </footer>
    
    {{! Bonus scripts }}
    {{! Nice little script to hide/show top bar on scroll }}
    <script type="text/javascript" src="{{asset "js/scroll-up-bar.js"}}"></script>

</body>
</html>
