{{!< default}}

{{#post}}

{{#if image}}
    <header class="big cover" style="background-image: url({{image}})">
{{else}}
    <header class="big cover shrunk default-cover">
{{/if}}
	<h1 class="post-title" style="text-align:left">{{title}}</h1>
		<div class="post-meta meta">
            <div>
                <span>{{date format="DD MMMM YYYY"}}</span>
                {{#if tags}}
                <span class="tags"><span class="fa fa-tags" aria-hidden="true"></span> {{tags}}</span>
                {{/if}}
            </div>
		</div>
</header>

<div id="wrapper">
<section class="article {{post_class}}">
	<div id="post">
	    {{content}}
	</div>
</section>

<footer class="post-footer">
{{!-- Email subscribe form at the bottom of the page --}}
            {{#if @labs.subscribers}}
            <section class="gh-subscribe">
                <h3 class="gh-subscribe-title">Abonnez-vous à l’{{@blog.title}}</h3>
                <p>Recevez nos articles directement dans votre boite mail.</p>
                {{subscribe_form placeholder="Votre adresse mail"}}
                <span class="gh-subscribe-rss">or subscribe <a href="//{{@blog.url}}/rss/">via RSS</a></span>
            </section>
{{/if}}
</footer>
{{/post}}
